@import 'tachyons';
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto&display=swap');

.light-theme {
  --cl-primary-100: #e7d8cb;
  --cl-primary-200: #efe6dd;
  --cl-accent: #bb4430;
  --text-primary-200: #231f20;
  --text-primary-100: #292425;
}
.dark-theme {
  --cl-primary-100: #292425;
  --cl-primary-200: #231f20;
  --cl-accent: #7ebdc2;
  --text-primary-200: #efe6dd;
  --text-primary-100: #e7d8cb;
}
.font {
  --ff-primary: 'Roboto', sans-serif;
  --ff-accent: 'Playfair Display', serif;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
ul,
ol,
p {
  margin: 0;
}
h1,
h2,
h3 {
  font-family: var(--ff-accent);
  line-height: 1;
}
span,
p,
div {
  font-family: var(--ff-primary);
}
.app {
  background-color: var(--cl-primary-200);
  color: var(--text-primary-200);
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
